.footer {
    background-color: $color-dark-grey-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo {
        width: 15rem;
        height: auto;
    }
    &__navigation {
        border-top: 1px solid $color-dark-grey;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            color: $color-gray-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: transform .3s;
        }
        &:hover,
        &:active {
            color: $Light-green;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: scale(1.02);
        }
    }
    &__copyright {
        color: $color-gray-light-1;
        border-top: 1px solid $color-dark-grey;
        padding-top: 2rem;
        display: inline-block;
    }
}