.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        color: inherit;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: box-shadow .2s, border-bottom .2s;
        @include respond(tab-port) {
            width: 100%;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $Light-green;
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }
        &::-webkit-input-placeholder {
            color: $color-dark-grey-2;
        }
        &:placeholder-shown+.form__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    &__radio-group {
        width: 49%;
        display: inline-block;
        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__radio-label {
        position: relative;
        font-size: $default-font-size;
        padding-left: 4rem;
        cursor: pointer;
    }
    &__radio-button {
        position: absolute;
        left: 0;
        top: -.5rem;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border: 5px solid $Light-green;
        border-radius: 50%;
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1.2rem;
            height: 1.2rem;
            content: "";
            transform: translate(-50%, -50%);
            background-color: $Light-green;
            display: block;
            opacity: 0;
            border-radius: 50%;
            transition: opacity .2s;
        }
    }
    &__radio-input:checked+&__radio-label &__radio-button::after {
        opacity: 1;
    }
    &__radio-input {
        display: none;
    }
}