body {
    font-family: "Lato", sans-serif;
    color: $color-dark-grey;
    font-weight: 400;
    padding: 3rem;
    font-size: $default-font-size;
    line-height: 1.7;
}

.heading-primary {
    margin-bottom: 5rem;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    &--main {
        display: block;
        font-size: 9rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s;
    }
    &--sub {
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1.3rem;
        animation: moveInRight 1s .5s backwards;
    }
}

.heading-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $Light-green, $Dark-green);
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: transform .3s, text-shadow .3s;
    &:hover {
        transform: scale(1.01);
        text-shadow: .5rem .1rem .2rem rgba($color-dark-grey, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}